.BuySellSwap{
    height: 46px;
    display: flex;
    border-bottom: 0.5px solid gray;
    .button{
    display: block;
    width: 30px;  
    height: 15px;
    padding: 15px; 
    cursor: pointer;
        &_activ{
        display: block;
        width: 30px;  
        height: 15px;
        padding: 15px; 
        border-bottom: 2px solid #7b0cf7;
        cursor: pointer;
        }
     
    }
    }

.component{
    flex: 1 1 700px;
    display: flex;
    flex-direction: column;
    position: relative;

    .input{
        display: flex;
        flex-direction: row;
        margin: 35px auto;
        padding-top: 5px;
        width: 350px;
        height: 54px;
        background-color: rgb(235, 234, 234);
        border-radius: 10px;
        text-align: center;
        input{
            all: unset;
            margin: 0 5px;
            max-width: 235px;
            flex: 1 1 235px;
            height: 45px;
            border: none;
            background-color: rgb(235, 234, 234);
            border-bottom: 1px solid #7b0cf7 ;
            color: #7b0cf7;
            font-size: 35px;
            
        }
        .select{
            display: flex;
            flex-direction: row;
            flex: 0 0 100px;
            height: 50px;
            line-height: 0px;
            font-size: 20px;

            background-color: rgba(180, 180, 180, 0.363);
            border-radius: 10px;
            background-image: url(icons8.png);
            background-repeat: no-repeat;
            background-position: 85px;
            background-size: 10px;
            cursor: pointer;
            &_icon{
            width: 30px;
            height: 30px;
            margin: 0px auto;
            padding-top: 10px ;
            }
            &_iso{
                width: 60px;
                text-align:left;
                line-height: 45px;
                vertical-align: middle;
            } 
        }
    }
    .nav_activ{
        display: block;
    }

    .nav_hide{
        display: none;
    }

    .buyNav, .selNav{
            position: absolute;
            background-color: rgba(230, 228, 228, 1);
            border-bottom: #7b0cf7 solid 1px;
            border-left: #7b0cf7 solid 1px;
            border-right: #7b0cf7 solid 1px;;
            border-radius: 15px;
            }
    .buyNav  {
        width: 340px;
        height: 130px;
        right: 30px;
        top: 280px;
    }  
    .selNav  {
        width: 340px;
        height: 130px;

        right: 30px;
        top: 86px;

    }    
    
    .ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: end;
        li{
            display: block;
            width: 42px;
            height: 60px;
            cursor: pointer;
            .icon{
                width: 25px;
                height: 25px;
            }
        }
    }


    .icon_exchange{
        margin: 0 auto;
        width: 64px;
        height: 64px;
        cursor: pointer;

    }   



    .message{

    }
}