@import "../../config/variables.scss";


.component{
    .button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 45px;
    width: 100%;    
    background-color:$colorful;
    color: #fff;
    border-radius: 25px;
    line-height: 45px;
    cursor: pointer;
    line-height: 45px;
    font-size: 18px;
    
        div{
            padding-left: 15px;
        }


    svg{
        width: 25px;
        height: 25px;
        padding-top: 10px;
        padding-right: 10px;
        
    }
    &:hover{
        background-color:#fff;
        color: $colorful;
        border: 2px solid $colorful;
    }
    }
    .polic{
        margin-top: 20px;
        font-size: 14px;
        color: gray;
        opacity: 1;
        a{
            text-decoration: none; /* no underline */
            color: #fff;
            opacity: 1;
        }
    }
}