.component .button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 45px;
  width: 100%;
  background-color: #7d00ff;
  color: #fff;
  border-radius: 25px;
  line-height: 45px;
  cursor: pointer;
  line-height: 45px;
  font-size: 18px;
}
.component .button div {
  padding-left: 15px;
}
.component .button svg {
  width: 25px;
  height: 25px;
  padding-top: 10px;
  padding-right: 10px;
}
.component .button:hover {
  background-color: #fff;
  color: #7d00ff;
  border: 2px solid #7d00ff;
}
.component .polic {
  margin-top: 20px;
  font-size: 14px;
  color: gray;
  opacity: 1;
}
.component .polic a {
  text-decoration: none; /* no underline */
  color: #fff;
  opacity: 1;
}