@import "../../config/variables.scss";



.calc{
    position: relative;
    margin: 30px auto;
    width: 400px;
    height: 700px;
    border: solid 2px $colorful;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    .buttonTheme{
        position: absolute;
        width: 30px;
        height: 30px;
        right: 30px;
        top: 33px;
        cursor: pointer;
        img{
            width: 30px;
            height: 25px;
        }
    }
}