@import "../../config/variables.scss";



.calc{
    display: flex;
    padding: 25px;
    position: relative;
    margin: 0 auto;
    width: 450px;
    height: 700px;
    border-radius: 35px;
    text-align: center;
    flex-direction: column;
    .buttonTheme{
        position: absolute;
        width: 30px;
        height: 30px;
        right: 30px;
        top: 60px;
        cursor: pointer;
        img{
            width: 30px;
            height: 25px;
        }
    }
}