@import "./config/variables.scss";


.background{
    background-color: #13131e;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    
}